<!DOCTYPE html>
<html>
<head>
  <title>Fundster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fundster</a>
      </div>
    </div>
  </nav>

<h4>Clothing | <%= link_to "Shoes", items_path %> | Accesories | Designer Collections | Clearance </h4>
<!-- <h3><%= link_to "List of Friends", users_path %></h3> -->

  <% if current_user %>
    <%= link_to "My Wish List", user_path(current_user.id) %> |
    <%= link_to "Friends To Fund", users_path %>
  <% end %>

<% flash.each do |first_name, message| %>
  <!-- <div class="flash-message flash-message-<%= first_name %>"> -->
  <div class="alert alert-danger" role="alert">    <!-- takes from SessionsController -->
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= message %>
  </div>
<% end %>

<% if current_user %>
  <div>Welcome, <%= current_user.first_name %></div>
  <%= link_to 'Logout', session_path(session), method: :delete%>
<%else%>
  <div><%= link_to "Login", new_session_path %> | <%= link_to "Sign Up", new_user_path %></div>
<%end%>

<%= yield %>

</body>
</html>
