<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

<% @items.each do |i| %>
<h3><%= i.name %></h3>
<h4>$<%= i.price %></h4>
<%= image_tag(i.picture) %>
<p>Item description: <%= i.description %></p>

<!--TONY-->
<%= link_to "Add to wish list", add_item_to_user_path(:item => i.id) %>
<% end %>
