<h1>Shop!</h1>

<div class="row">
    <% @items.each do |i| %>
        <div class="col-md-3">
            <div class="thumbnail">
              <%= image_tag(i.picture) %>
                <div class="caption">
                    <h3 id="i_name"><%= i.name %></h3>
                    <h4 id="i_price">$<%= i.price %></h4>
                    <p id="i_description"><%= i.description.truncate(100) %></p>
                    <div id="thumbnail_btn"><%= link_to "More details...", item_path(i.id), class: "btn btn-secondary", role: "button" %></div>

                    <div id="thumbnail_btn">
                      <% if current_user %>
                        <%= link_to "Add to wish list!", add_item_to_user_path(:item => i.id), class: "btn btn-primary", role: "button" %>
                      <%else%>
                        <%= link_to "Add to wish list!", new_session_path, class: "btn btn-primary", role: "button" %>
                      <%end%>
                    </div>

                </div>
            </div>
        </div>
    <% end %>
</div>

<p>Find me in app/views/items/index.html.erb</p>
