  <h1><%= @item.name %></h1>
  <h2>$<%= @item.price %></h2>

<div id="item_show">
  <%= image_tag(@item.picture) %>
  <p><%= @item.description %></p>

  <% if current_user %>
    <div id="thumbnail_btn"><%= link_to "Add to wish list!", add_item_to_user_path(:item => @item.id), class: "btn btn-primary", role: "button" %></div>
  <%else%>
    <div id="thumbnail_btn"><%= link_to "Add to wish list!", new_session_path, class: "btn btn-primary", role: "button" %></div>
  <%end%>

</div>
