<div class="banner-image">
<h1 class="login_header">Login</h1>

<div class="col-sm-4 col-sm-offset-4">
  <%= form_tag sessions_path do %>

      <div class="field form-group">
        <%= label_tag %>
        <%= text_field_tag :email, params[:email], placeholder: "Email", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= label_tag %>
        <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
      </div>

      <div class="actions"><%= submit_tag "Log in", class: "btn btn-default" %></div>

  <% end %>
</div>
</div>

<p>Find me in app/views/sessions/new.html.erb</p>
