<h1>Login</h1>

  <%= form_tag sessions_path do %>
      <div class="field form-group">
      <%= label_tag %>
      <%= text_field_tag :email, params[:email], placeholder: "Email" %>
    </div>
    <div class="field form-group">
      <%= label_tag %>
      <%= password_field_tag :password, placeholder: "Password" %>
    </div>
    <div class="actions"><%= submit_tag "Log in", class: "btn btn-default" %></div>
  <% end %>

<p>Find me in app/views/sessions/new.html.erb</p>
