<h1><%= @user.first_name %>'s Wish List</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <% @user.items.each do |i| %>

    <div>code test
      <div>

<!--displays wish_list hash value for each shoe-->
        <% prog = @user.wish_list[i.name] %>
        <h3><%= prog %>% funded</h3>

      </div>
    </div>


      <div class="thumbnail">
        <%= image_tag(i.picture) %>
              <div class="caption">
                  <h2><%= i.name %><h2>
                  <h3>$<%= i.price %></h3>
                  <h3><%= i.progress %>% funded</h3>

            <!--PROGRESS BAR, update the style="width: 30%" to update progress bar -->
                  <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                      <span class="sr-only">Percent Complete (success)</span>
                      </div>
                  </div>
                  <p class="ui_description"><%= i.description %></p>


            <!-- button not working, not routing properly -->
                    <div id="wish_btn">
                      <% if current_user %>
                          <%= link_to "Fund", users_path, class: "btn btn-primary", role: "button" %>
                      <%else%>
                          <%= link_to "Fund", items_path, class: "btn btn-primary", role: "button" %>
                      <%end%>
                  </div>





                  <!-- <div id="wish_btn"><%= link_to "Fund", items_path, class: "btn btn-primary", role: "button" %></div> -->

              <!-- Not working -->
                  <%= link_to "Fund Fund Fund", users_path, method: :fund %>



              </div>
        </div>
      <%end%>
  </div>

</div>

<%= link_to "Back to List of Friends", users_path, class: "btn btn-secondary", role: "button", style: "font-size:20px;" %>

<!--
<h3>Other friends' wish lists...</h3>
<% @users.each do |u| %>
<%= link_to "#{u.first_name}", user_path(u.id), class: "btn btn-secondary", role: "button", style: "font-size:20px;" %>
<%end%>
-->

<p>Find me in app/views/users/show.html.erb</p>
<p>ID: <%= @user.id %></p>
<p><%= @user.email %></p>
