<h1><%= @user.first_name %>'s Wish List</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <% @user.items.each do |i| %>


<!--CODE TESTING AREA BEGINS-->
<div>code test



        <!--INCREMENTS FUND, MAKE INTO A BUTTON-->
        <% user_item = ItemUser.all.where(user_id:@user, item_id:i).first %>
        <% user_item.increment!(:fund, by = 5) %>



</div>
<!--CODE TESTING AREA ENDS-->


      <div class="thumbnail">
        <%= image_tag(i.picture) %>
              <div class="caption">
                  <h2><%= i.name %><h2>
                  <h3>$<%= i.price %></h3>
          <h1>$<%= user_item.fund %> funded</h1>
            <!--PROGRESS BAR, update the style="width: 30%" to update progress bar -->
                  <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65.78%">
                      <span class="sr-only">Percent Complete (success)</span>
                      </div>
                  </div>
                  <p class="ui_description"><%= i.description %></p>



                  <!--BUTTON TO INCREMENT FUND(not working!) OR DELETE(working)-->
                    <div id="wish_btn">
                      <% unless current_user.id == @user.id %>
                          <!--FUND OTHER USER'S ITEM-->
                          <%= link_to "Fund", items_path, class: "btn btn-primary", role: "button" %>
                      <% else %>
                          <!--DELETES CURRENT USER'S ITEM-->
                          <%= link_to("Remove this item", remove_item_path(@user.id, i.id),  method: :delete, data: { confirm: "Are you sure you want to remove this item?" }) %></div>
                      <%end%>
                    </div>




              </div>
        </div>
      <%end%>
  </div>

</div>

<%= link_to "Back to List of Friends", users_path, class: "btn btn-secondary", role: "button", style: "font-size:20px;" %>

<!--
<h3>Other friends' wish lists...</h3>
<% @users.each do |u| %>
<%= link_to "#{u.first_name}", user_path(u.id), class: "btn btn-secondary", role: "button", style: "font-size:20px;" %>
<%end%>
 -->

<p>Find me in app/views/users/show.html.erb</p>
<p>ID: <%= @user.id %></p>
<p><%= @user.email %></p>
