<!DOCTYPE html>
<html>
<head>
  <title>Fundster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fundster</a>
      </div>
    </div>
  </nav>

<div class="header_nav"><a href="#">Clothing</a> | <%= link_to "Shoes", items_path %> | <a href="#">Accesories</a> | <a href="#">Designer Collections</a> | <a href="#">Clearance</a> </div>
<!-- <h3><%= link_to "List of Friends", users_path %></h3> -->

<% if current_user %>
  <div class="small_nav"><%= link_to "My Wish List", user_path(current_user.id) %> | <%= link_to "Friends to Fund", users_path %></div>
<% end %>

<% flash.each do |first_name, message| %>
  <!-- <div class="flash-message flash-message-<%= first_name %>"> -->
  <div class="alert alert-danger" role="alert">    <!-- takes from SessionsController -->
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= message %>
  </div>
<% end %>

<% if current_user %>
  <div>Welcome, <%= current_user.first_name %></div>
  <%= link_to 'Logout', session_path(session), method: :delete%>
<%else%>
  <div class="small_nav"><%= link_to "Login", new_session_path %> | <%= link_to "Sign Up", new_user_path %></div>
<%end%>

<%= yield %>

</body>

<p class="footer_text"><a href="#">Your Privacy Rights</a> | <a href="#">Terms & Conditions</a> | <a href="#">Interest-Based Ads</a> | <a href="#">California Supply Chains Act</a> | <a href="#">Give Us Feedback</a></p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">&#169; Fundster Inc.</a>
    </div>
  </div>
</nav>

</html>
